@import "tailwindcss";

@theme {
  --color-brand-base: #080711;
  --color-brand-surface: #140d24;
  --color-brand-border: #4c227b;
  --color-brand: #a855f7;
  --color-brand-hover: #c084fc;
  --color-brand-glow: #d8b4fe;
}

body {
  margin: 0;
  padding: 0;
  background-color: #080711;
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
